    <div style="text-align: center;">
        <div class="row">
            <div class="alert alert-warning" role="alert">
            	Цель игры - как можно больше раз попасть по мишени, заработав при этом уйму очков! <br>
            	Управление: поменять положение дула - зажать левую кнопку мыши и подвигать ей вверх-вниз.
            	Стрелять - пробел. Следите за положением усилителя пули! </br>
            	Удачи!
            </div>
        </div>
        <canvas id="canvas"></canvas>
    </div>